@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;

    /* BOARD */
    --board-size: 500px;
    --board-border: 5px;
    --board-width: calc(var(--board-size) + var(--board-border) * 2);
    --board-height: calc(var(--board-size) + var(--board-border) * 2);

    /* SNAKE */
    --snake-width: 20px;
    --snake-height: 20px;
}

html{
    background-color: antiquewhite;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.snake-style{
    position: absolute;
    width: var(--snake-width);
    height: var(--snake-height);
    border: 1px black solid;
    border-radius: 15px;
}

.snake-head{
    top: 0px;
    left: 0px;
    background-color: green;
}

.snake-body{
    background-color: aqua;
}


.apple{
    top: 200px;
    left: 200px;
    background-color: red;

}


.board{
    border: var(--board-border) solid black;
    position: relative;
    overflow: hidden;

    width: var(--board-width);
    height: var(--board-height);
}

/* Score */

.score-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.current-score{
    font-size: 40px;
}